<mat-drawer-container fxFlexFill class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="over">
    <h3>Last requests</h3>
    <button
      *ngFor="let item of historyList"
      class="full-width"
      mat-stroked-button
      (click)="search(item, drawer)"
    >
      {{ item }}
    </button>
    <h4>
      ngVnbstudioDict: spanish -> english dictionary v0.0.1 <br />
      Martin Hewings spanish dictionary api based
    </h4>
  </mat-drawer>

  <div fxLayout="column" class="sidenav-content">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button
          (click)="drawer.toggle()"
          mat-icon-button
          aria-label="It's a menu button."
        >
          <mat-icon>history</mat-icon>
        </button>
        <span>ngDictionary</span>
        <span fxFlex="100%"></span>
      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
